@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
/* CSS Document */

* {
    margin: 0;
    padding: 0;
	scroll-behavior: smooth;					/* Back to top smoothly */
}

body {
    font-family: 'Fjalla One', sans-serif;
    background-color: #222;
}

::-moz-selection {								/* Firefox */
	background: #77909E;
	color: #000;
}

::selection {
	background: #77909E;
	color: #000;
}

/*header*/
header {
	width: 100%;
	height: 80px;
	background: #444;
	box-sizing: border-box;
	margin: auto;
	position: -webkit-sticky;					/* Safari */
	position: sticky;
	top: 0;
	z-index: 2000;
}

.header-box {
	width: 80%;
	margin: auto;
	text-align: center;
}

nav ul {
	list-style: none;
}

nav li {
	position: relative;
	display: inline-block;
}

nav li a {
	display: block;
	font-size: 2em;
	line-height: 80px;
	color: #E9EAED;
	text-decoration: none;
	transition: all 0.5s;
    -webkit-transition: all 0.5s;
}

nav li a:hover {
	transform: scale(1.2);
}

nav li a:active {
	color: #B99362;
	transform: scale(1.2);
}

/* banner */
.banner {
	position: relative;
	overflow: hidden;
    margin: 80px auto;
	width: 85%;
	height: 600px;
	background: url(../images/vaccine.jpg) no-repeat;
	background-size: 100%;
    background-position: center;
}

.anime-text {
	position: absolute;
	top: 25%;
	left: 0%;
	color: #B99362;
	font-size: 120px;
	opacity: 0;

	animation-name: ant;
	animation-duration: 3s;
	animation-iteration-count: 1;
	animation-timing-function: ease;
	animation-direction: normal;
	animation-fill-mode: forwards;
	
	-webkit-animation-name: ant;				/* Animation Name */
	-webkit-animation-duration: 3s;				/* Animation Duration */
	-webkit-animation-iteration-count: 1;		/* Animation Iteration */
	-webkit-animation-timing-function: ease;	/* Animation starts and ends slowly */
	-webkit-animation-direction: normal;		/* Animation Direction is normal */
	-webkit-animation-fill-mode: forwards;		/* Stop at the last frame after animation, needed to be used with direction */
}

@keyframes ant {
	from {										/* First frame settings */

	} 
	to {
		left: 10%;
		opacity: 1;
	}
}

/* section */
section {
	width: 75%;
	margin: auto;
}

article {
	float: left;
	width: 100%;
	box-sizing: border-box;
	margin: 50px 0px 0px;
	background: rgba(255, 255, 255, .3);
}

article:nth-child(2n) {
	background: #B99362;
}

article .picture-box, article .content-box {
	float: left;
	position: relative;
	width: 50%;
	box-sizing: border-box;
}

article .content-box {
	line-height: 2em;
	text-align: justify;
}

.content-box h1 {
	font-size: 2.8em;
    text-align: center;
	color: #B99362;
	line-height: 2em;
}

.content-box p {
    padding: 0 50px;
}

article:nth-child(2n) .content-box h1 {
    color: #605D5C;
}

.picture-box img {
	width: 100%;
    transition: filter 0.5s;
    -webkit-transition: filter 0.5s;
}

.picture-box:hover img {
	-webkit-filter: brightness(30%);
	filter: brightness(30%);
}

.picture-box:hover .fade-box {
	opacity: 1;
}

.fade-box {
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%); 			/* IE 9 */
	-webkit-transform: translate(-50%, -50%);		/* Safari */
	transform: translate(-50%, -50%);
	opacity: 0;
}

.fade-box a {
	display: block;
	font-size: 25px;
	padding: 16px 32px;
	color: #FFF;
	text-decoration: none;
	background: #B99362;
    transition: background 0.5s, color 0.8s;
    -webkit-transition: background 0.5s, color 0.8s;
}

article:nth-child(2n) .fade-box a {
    color: #B99362;
	background: #FFF;
}

.fade-box a:hover {
	color: #B99362;
	background: #FFF;
}

article:nth-child(2n) .fade-box a:hover {
    color: #FFF;
	background: #B99362;
}

/* aside */
aside {
	position: fixed;
	right: 30px;
	bottom: 30px;
	z-index: 100000;
}

.totop {
	width: 60px;
	height: 60px;
	background: url(../images/arrow.png) no-repeat;
	background-size: 100%;
	background-position: 0px 0px;
	transition: all 0.5s;
	-webkit-transition: all 0.5s;
	cursor: pointer;
}

.totop:hover {
	transform: scale(1.3);
}

/* footer */
footer {
	clear: both;
	padding: 50px 0px 30px;
	text-align: center;
	color: #B99362;
}