<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <title>Taiwan Covid-19 Map</title>
        <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/taiwan.png') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
        <script type="text/javascript" src="https://code.jquery.com/jquery-latest.min.js"></script>
    </head>

    <body>
        <!-- section -->
        <section>
            <!-- Taiwan Map -->
            <div class="tw-map">
                <object id="taiwan" data="{{ url_for('static', filename='svg/taiwan.svg') }}" type="image/svg+xml"></object>
            </div>

            <!-- Title -->
            <div class="title">
                <h1>Taiwan<br><span class="special">COVID-19</span> Map</h1>
                <hr />
                <div id="info"></div>
            </div>
        </section>
    
        <!-- Javascript -->
        <script>
            var ranges  = JSON.parse('{{  ranges | tojson | safe }}');
            var records = JSON.parse('{{ records | tojson | safe }}');
        </script>
        <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
    </body>
</html>
